<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central Blood Bank</title>
    <link rel="stylesheet", href="../static/styles/accepted.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/accepted.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../static/images/logo.png">
                <div class="title">Central Blood Bank Management</div>
            </div>
            <nav class="nav">
                <ul>
                    <li class="home">Welcome {{ current_user.name }}</li>
                    <li class="donation active" data-id="{{ donor_id }}">Donate</li>
                    <li class="logout">Logout</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-container">
        <div class="left-container">
            <ul>
                <li>Name:<br>{{ current_user.name }}</li>
                <li>City:<br>{{ current_user.city.name }}</li>
                <li>National ID:<br>{{ current_user.national_id }}</li>
                <li>Email:<br>{{ current_user.email }}</li>
                <li>Donation History: {{ current_user.donations | length }}</li>
                <li id="blood_group">Blood Group:</li>
            </ul>
        </div>
        <div class="right-container">
            <div class="form-container">
                <h2>Donation Info</h2>
                <form method="post" id="donation_form">
                    <div class="form-group">
                        <label for="volume">Volume:</label>
                        <input type="number" max="500" min="100" id="volume" required>
                    </div>
                    <div class="form-group">
                        <label for="date">Expiration Date:</label>
                        <input type="date" id="date" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Donate">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>